.main-container {
  margin-top: 40px;
}
label.radio,
label.checkbox {
  cursor: pointer;
}
.radio.inline,
.checkbox.inline,
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 0;
}
legend {
  margin-bottom: 7px;
}