%label.control-label{for: 'project_code'} Project code
.controls
  %input#project_code.input-large.meninges{type: 'text', name: 'project_code', placeholder: 'like TW_CODE_1'}
    %p.help-block Use the actual project code if this is related to your project.
